<!DOCTYPE html>
<html lang="en">

<head>

<link href="../bower_components/metisMenu/dist/metisMenu.min.css"
	rel="stylesheet">

<!-- Timeline CSS -->
<link href="../dist/css/timeline.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="../bower_components/morrisjs/morris.css" rel="stylesheet">


<!-- Metis Menu Plugin JavaScript -->
<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../bower_components/raphael/raphael-min.js"></script>
<script src="../bower_components/morrisjs/morris.min.js"></script>
<script src="../js/morris-data.js"></script>

<style>
img {
	width: 25px;
	height: 25px;
	max-width: 25px;
	max-height: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);
}

.scroll {
	max-height: 500px;
	overflow-y: scroll;
}
</style>

</head>

<body>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<!-- TOP LOVED USERS -->
			<div class="panel panel-default scroll">
				<div class="panel-heading">
					<i class="fa fa-star-o fa-fw"></i> Top 100 LOVED Users

				</div>
				<!-- /.panel-heading -->
				<div class="panel-body" ng-controller="LovedCtrl">
					<!--  <div id="morris-area-chart"></div> -->
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="x in lovedUsers">{{x}}</li>

					</ul>
				</div>
				<!-- /.panel-body -->
			</div>


			<!-- TOP LOVED SONGS -->
			<div class="panel panel-default scroll">
				<div class="panel-heading">
					<i class="fa fa-music fa-fw"></i> Top 100 LOVED Songs

				</div>
				<!-- /.panel-heading -->
				<div class="panel-body" ng-controller="LovedSongsCtrl">
					<!--  <div id="morris-area-chart"></div> -->
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="x in lovedSongs">{{x}}</li>
					</ul>
				</div>
				<!-- /.panel-body -->
			</div>


		</div>


		<div class="col-lg-4" id="hated">

			<!-- TOP HATED USERS -->
			<div class="panel panel-default scroll">
				<div class="panel-heading">
					<i class="fa fa-frown-o fa-fw"></i> Top 10 HATED Users

				</div>
				<!-- /.panel-heading -->
				<div class="panel-body" ng-controller="HatedCtrl">
					<!--  <div id="morris-area-chart"></div> -->
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="x in hatedUsers">{{x}}</li>
					</ul>
				</div>
				<!-- /.panel-body -->
			</div>


			<!-- TOP HATED SONGS -->
			<div class="panel panel-default scroll">
				<div class="panel-heading">
					<i class="fa fa-thumbs-o-down fa-fw"></i> Top 100 HATED Songs
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body" ng-controller="HatedSongsCtrl">
					<!--  <div id="morris-area-chart"></div> -->
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="x in hatedSongs">{{x}}</li>
					</ul>
				</div>
				<!-- /.panel-body -->
			</div>

		</div>




		<!-- /.col-lg-8 -->
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-user fa-fw"></i> Online Users
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body" ng-controller="OnlineUsersCtrl">
					<div class="list-group">
					
						<a href="" class="list-group-item" ng-repeat="x in onlineUsers"><img ng-src="{{ 'http://api.adorable.io/avatars/285/' + x}}">
							{{x}}<span class="pull-right text-muted small"><em>a while ago</em> </span> </a> 
							
					
					</div>
					<!-- /.list-group 
					<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
				</div>
				<!-- /.panel-body -->
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-user fa-fw"></i> Users
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body" ng-controller="AllUsersCtrl">
					<div class="list-group">
					
						<a href="#/profile/{{x}}" class="list-group-item" ng-repeat="x in allUsers"><img ng-src="{{ 'http://api.adorable.io/avatars/285/' + x}}">
							{{x}}<span class="pull-right text-muted small"> </span> </a> 
							
					
					</div>
					<!-- /.list-group 
					<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
				</div>
				<!-- /.panel-body -->
			</div>



			<!-- RECENTLY -->
			<!--  
			<div class="chat-panel panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-comments fa-fw"></i> Latest
					<div class="btn-group pull-right">
						<button type="button"
							class="btn btn-default btn-xs dropdown-toggle"
							data-toggle="dropdown">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">
							<li><a href="#"> <i class="fa fa-refresh fa-fw"></i>
									Refresh
							</a></li>
							<li><a href="#"> <i class="fa fa-check-circle fa-fw"></i>
									Available
							</a></li>
							<li><a href="#"> <i class="fa fa-times fa-fw"></i> Busy
							</a></li>
							<li><a href="#"> <i class="fa fa-clock-o fa-fw"></i>
									Away
							</a></li>
							<li class="divider"></li>
							<li><a href="#"> <i class="fa fa-sign-out fa-fw"></i>
									Sign Out
							</a></li>
						</ul>
					</div>
				</div>
				
				<div class="panel-body">
					<ul class="chat">
						<li class="left clearfix"><span class="chat-img pull-left">
								<img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar"
								class="img-circle" />
						</span>
							<div class="chat-body clearfix">
								<div class="header">
									<strong class="primary-font">Jack Sparrow</strong> <small
										class="pull-right text-muted"> <i
										class="fa fa-clock-o fa-fw"></i> 12 mins ago
									</small>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Curabitur bibendum ornare dolor, quis ullamcorper ligula
									sodales.</p>
							</div></li>
						<li class="right clearfix"><span class="chat-img pull-right">
								<img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar"
								class="img-circle" />
						</span>
							<div class="chat-body clearfix">
								<div class="header">
									<small class=" text-muted"> <i
										class="fa fa-clock-o fa-fw"></i> 13 mins ago
									</small> <strong class="pull-right primary-font">Bhaumik Patel</strong>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Curabitur bibendum ornare dolor, quis ullamcorper ligula
									sodales.</p>
							</div></li>
						<li class="left clearfix"><span class="chat-img pull-left">
								<img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar"
								class="img-circle" />
						</span>
							<div class="chat-body clearfix">
								<div class="header">
									<strong class="primary-font">Jack Sparrow</strong> <small
										class="pull-right text-muted"> <i
										class="fa fa-clock-o fa-fw"></i> 14 mins ago
									</small>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Curabitur bibendum ornare dolor, quis ullamcorper ligula
									sodales.</p>
							</div></li>
						<li class="right clearfix"><span class="chat-img pull-right">
								<img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar"
								class="img-circle" />
						</span>
							<div class="chat-body clearfix">
								<div class="header">
									<small class=" text-muted"> <i
										class="fa fa-clock-o fa-fw"></i> 15 mins ago
									</small> <strong class="pull-right primary-font">Bhaumik Patel</strong>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Curabitur bibendum ornare dolor, quis ullamcorper ligula
									sodales.</p>
							</div></li>
					</ul>
				</div>
			
				<div class="panel-footer">
					<div class="input-group">
						<input id="btn-input" type="text" class="form-control input-sm"
							placeholder="Type your message here..." /> <span
							class="input-group-btn">
							<button class="btn btn-warning btn-sm" id="btn-chat">
								Send</button>
						</span>
					</div>
				</div>
			
			</div>
			
			-->
			
			
		
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->


</body>

</html>
